<?xml version="1.0" encoding="UTF-8"?>  
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
    </appender>
    <appender name="all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/var/log/tomcat/front-end-admin.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>/var/log/tomcat/front-end-admin.%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>100</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>64MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%thread] %-5level %logger{80} - %msg%n</Pattern>
        </layout>
    </appender>
    <!-- org.mybatis.spring.mapper.MapperScannerConfigurer -->
    <logger name="org.apache.commons.httpclient" level="WARN">
        <appender-ref ref="stdout" />
    </logger>
    <logger name="java.sql.Connection">
        <level value="debug" />
    </logger>
    <logger name="java.sql.Statement">
        <level value="debug" />
    </logger>
    <root level="debug">
        <!--appender-ref ref="EMAIL"/-->
        <appender-ref ref="all"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>
